<div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img class="nav-profile-icon" src="../assets/images/useravatar.png"/>
                    <p class="nav-profile-info"><span>USER NAME</span><br/>
                    <span>Fiat Italy</span></p>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-3">
                        <img class="nav-cart-icon" src="../assets/images/Shopping_OFF.SVG"/>
                        <img (click)="generateTiciet()" class="nav-jira-icon" src="../assets/images/Dashboard_OFF.SVG"/>
                        <img class="nav-notification-icon" src="../assets/images/Notification_OFF.SVG"/>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <iframe class="main-iframe" src="http://www.Fiat.it"></iframe>
    </div>
    <div class="chat-div">
        <img class="nav-chat-icon" src="../assets/images/chat.svg"/>
    </div>