<div class="floating-editor-container">
        <span class="floating-editor-heading">P2C Editor</span>
        <!-- <p>P2c Settings: <span style="font-weight: bolder;">{{ p2cSettings }}</span></p>
        <p>P2c Resource: <span style="font-weight: bolder;">{{ p2cResource }}</span></p>
        <p>P2c Data: <span style="font-weight: bolder;">{{ p2cData }}</span></p> -->
        <p>Editing {{ editorTitle | titlecase }} : 
                <app-richtext-editor [textvalue]="compDataNew['value']" *ngIf="editorType == 'richtext'"></app-richtext-editor>
        </p>
        <!-- <button type="submit" class="floating-editor-submit-btn" (click)="SubmitVal()">Submit</button> --> 
</div>